    @font-face{
        font-family:"Geometria W01 ExtraLight";
        src:url("fonts/5273850/7d71d4c9-3e9b-412c-a6da-451e64b276ba.eot?#iefix");
        src:url("fonts/5273850/7d71d4c9-3e9b-412c-a6da-451e64b276ba.eot?#iefix") format("eot"),url("fonts/5273850/f854ff21-b7f2-45df-b714-67a0cd66d582.woff2") format("woff2"),url("fonts/5273850/604cae83-fce8-4924-9186-7ee56805e160.woff") format("woff"),url("fonts/5273850/c591954f-97d1-4548-bb0c-d43ce10ba56e.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 ExtraLight Itali";
        src:url("fonts/5273880/57a6b7a3-092e-405a-a351-3fc5ffd42416.eot?#iefix");
        src:url("fonts/5273880/57a6b7a3-092e-405a-a351-3fc5ffd42416.eot?#iefix") format("eot"),url("fonts/5273880/a81bdc2e-954d-41db-a7ec-3a305ce9a7ce.woff2") format("woff2"),url("fonts/5273880/df0f5bbe-9af6-4db4-8e8b-8d977526873e.woff") format("woff"),url("fonts/5273880/252f02ac-0854-4e55-aa89-8b0cc5e70e25.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Heavy";
        src:url("fonts/5273896/793806b7-8e65-4558-811b-9738cb9da8b8.eot?#iefix");
        src:url("fonts/5273896/793806b7-8e65-4558-811b-9738cb9da8b8.eot?#iefix") format("eot"),url("fonts/5273896/a4738ede-beb5-4bb0-875c-4691a7a17bb8.woff2") format("woff2"),url("fonts/5273896/c714553a-5144-44be-8a15-455275418991.woff") format("woff"),url("fonts/5273896/0f196e2c-bf66-4343-8c71-93ced71d5235.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Heavy Italic";
        src:url("fonts/5273942/5caff024-1bad-410b-b07e-3a86ef723b78.eot?#iefix");
        src:url("fonts/5273942/5caff024-1bad-410b-b07e-3a86ef723b78.eot?#iefix") format("eot"),url("fonts/5273942/4df0a24f-b529-442c-9dba-7aeb46117d53.woff2") format("woff2"),url("fonts/5273942/adce62bc-5553-477e-ad79-9bce912ff442.woff") format("woff"),url("fonts/5273942/2da756dd-bff7-4f11-9dbd-afb221d389f2.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Bold";
        src:url("fonts/5274026/3586f500-815c-4500-9034-ba8ca1ea0e2d.eot?#iefix");
        src:url("fonts/5274026/3586f500-815c-4500-9034-ba8ca1ea0e2d.eot?#iefix") format("eot"),url("fonts/5274026/7752fac9-506a-480f-87a7-da2199b8466a.woff2") format("woff2"),url("fonts/5274026/ff98a6a0-ce44-4f81-b613-96a7cb7b8d5d.woff") format("woff"),url("fonts/5274026/ceab3d08-0a23-457d-a881-77a39e0d2cd1.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Medium";
        src:url("fonts/5274076/d19fcd29-60c0-40d3-aee7-23a0f9df295f.eot?#iefix");
        src:url("fonts/5274076/d19fcd29-60c0-40d3-aee7-23a0f9df295f.eot?#iefix") format("eot"),url("fonts/5274076/a7d10488-59cd-4c42-a7d1-18558045ca31.woff2") format("woff2"),url("fonts/5274076/71135123-f908-4f5f-8112-f473105a4be6.woff") format("woff"),url("fonts/5274076/c198981d-e3aa-4fe2-ad64-6662e366e3ce.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Light";
        src:url("fonts/5274153/fbe5cb85-9cb4-4a75-bd2a-3b9f10c547e7.eot?#iefix");
        src:url("fonts/5274153/fbe5cb85-9cb4-4a75-bd2a-3b9f10c547e7.eot?#iefix") format("eot"),url("fonts/5274153/081b3c4d-ab0b-4a85-a76d-6f97e8ca75f1.woff2") format("woff2"),url("fonts/5274153/2ecfe330-286d-448c-9613-38f28fe8f014.woff") format("woff"),url("fonts/5274153/384bde34-676a-4508-84bb-86ce74a66d09.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Light Italic";
        src:url("fonts/5274177/2af65412-7235-47be-82cc-2d1c1610f4a8.eot?#iefix");
        src:url("fonts/5274177/2af65412-7235-47be-82cc-2d1c1610f4a8.eot?#iefix") format("eot"),url("fonts/5274177/0fcb9c6b-ad68-4880-8228-eeb3d40feea1.woff2") format("woff2"),url("fonts/5274177/9ef50520-678f-473b-a630-8c09d1ce13c2.woff") format("woff"),url("fonts/5274177/8e0f4080-8095-4875-89f9-c2629a39cf64.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Thin Italic";
        src:url("fonts/5274321/c13e47b6-4ac4-446c-9f01-683d7f716c77.eot?#iefix");
        src:url("fonts/5274321/c13e47b6-4ac4-446c-9f01-683d7f716c77.eot?#iefix") format("eot"),url("fonts/5274321/ecf712f4-d4b2-4d3e-97f2-c0097a05bb34.woff2") format("woff2"),url("fonts/5274321/19069aee-61a2-467d-b2e9-978ec3da76f9.woff") format("woff"),url("fonts/5274321/a76ddf53-5fce-4f09-a20f-848a1178fe1c.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Regular";
        src:url("fonts/5274347/dc7adbb7-0f16-4711-a968-cbbf5f21e4aa.eot?#iefix");
        src:url("fonts/5274347/dc7adbb7-0f16-4711-a968-cbbf5f21e4aa.eot?#iefix") format("eot"),url("fonts/5274347/01606bdd-ce1e-44fe-b967-3595b25e4287.woff2") format("woff2"),url("fonts/5274347/23691adf-aef8-4117-a945-0b867dc6a56e.woff") format("woff"),url("fonts/5274347/c6264b03-c0a6-4b84-a6fb-4ca3da81a5e7.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Medium Italic";
        src:url("fonts/5274632/b64e41bb-705e-4042-bbbe-164f4e386014.eot?#iefix");
        src:url("fonts/5274632/b64e41bb-705e-4042-bbbe-164f4e386014.eot?#iefix") format("eot"),url("fonts/5274632/24ca8174-fcaf-4877-b4ab-ae1cbda07b72.woff2") format("woff2"),url("fonts/5274632/9f10b9b4-7e28-45d8-b1ba-e7069886ddf2.woff") format("woff"),url("fonts/5274632/92807ad7-7b15-4a45-bbc9-d364037c4168.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 ExtraBold";
        src:url("fonts/5274692/7df46830-cc76-49e2-9a31-9b5e66f6d2f0.eot?#iefix");
        src:url("fonts/5274692/7df46830-cc76-49e2-9a31-9b5e66f6d2f0.eot?#iefix") format("eot"),url("fonts/5274692/94b1cc1e-d807-42ca-aaf3-6bbf596ceb05.woff2") format("woff2"),url("fonts/5274692/f2ea151a-abb2-4dac-8927-6a9f59f18544.woff") format("woff"),url("fonts/5274692/48782685-d39e-4ac3-ae74-6a94efe87e2f.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Bold Italic";
        src:url("fonts/5274734/2c0faef8-599b-4585-b2bb-0ab5a72067c6.eot?#iefix");
        src:url("fonts/5274734/2c0faef8-599b-4585-b2bb-0ab5a72067c6.eot?#iefix") format("eot"),url("fonts/5274734/17a2dfee-725f-4c7b-9ffa-aad482a25da7.woff2") format("woff2"),url("fonts/5274734/775cf192-4d22-4e69-ae1f-d4e4c0795559.woff") format("woff"),url("fonts/5274734/ef86c845-f48a-4f86-9d76-354d0def6b04.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Thin";
        src:url("fonts/5274762/3ac55428-4588-47cc-8ac0-1f4787001247.eot?#iefix");
        src:url("fonts/5274762/3ac55428-4588-47cc-8ac0-1f4787001247.eot?#iefix") format("eot"),url("fonts/5274762/a11a5f0f-2dd4-4eae-af8f-6ebfbe593527.woff2") format("woff2"),url("fonts/5274762/d5d5d8d8-9916-4b69-bce7-d21674cfd762.woff") format("woff"),url("fonts/5274762/1fcbf59f-bf6e-4bf2-aca1-4050c25427f9.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 ExtraBold Italic";
        src:url("fonts/5274776/b5470e9c-a7b0-44a5-ad3c-2435d7ea5f42.eot?#iefix");
        src:url("fonts/5274776/b5470e9c-a7b0-44a5-ad3c-2435d7ea5f42.eot?#iefix") format("eot"),url("fonts/5274776/bf6f0d4d-fa1d-41b2-82ce-9121554d60d9.woff2") format("woff2"),url("fonts/5274776/5a7753c6-cea5-45bf-8af7-5116dc61c588.woff") format("woff"),url("fonts/5274776/3da9db10-14af-4289-9cd2-a503bf7b59b0.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria W01 Italic";
        src:url("fonts/5274802/c2c95bfd-fd1b-4be9-a825-7f771e265fc8.eot?#iefix");
        src:url("fonts/5274802/c2c95bfd-fd1b-4be9-a825-7f771e265fc8.eot?#iefix") format("eot"),url("fonts/5274802/6605ab0e-ca73-46e6-9868-dae9776d648e.woff2") format("woff2"),url("fonts/5274802/92b9d05d-b4ca-4ad6-a32e-dff591ea0394.woff") format("woff"),url("fonts/5274802/af97354d-5e0f-41cd-9d3c-945c4dc08704.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 ExtraLigh";
        src:url("fonts/5437229/e4602de4-8b91-4050-9cfa-816a3a273ba3.eot?#iefix");
        src:url("fonts/5437229/e4602de4-8b91-4050-9cfa-816a3a273ba3.eot?#iefix") format("eot"),url("fonts/5437229/756ec633-e857-40bd-9b6a-a19de665d0f0.woff2") format("woff2"),url("fonts/5437229/253f549c-ce46-4077-aaf9-852eb0cd48d6.woff") format("woff"),url("fonts/5437229/0a320039-a199-463d-82b6-dbabd32e2e86.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Light";
        src:url("fonts/5437239/daaac025-8fce-4e12-b5fe-b1ae3ddd3b79.eot?#iefix");
        src:url("fonts/5437239/daaac025-8fce-4e12-b5fe-b1ae3ddd3b79.eot?#iefix") format("eot"),url("fonts/5437239/ee9a6b23-d1ff-49dd-84d9-4cba27f5bd6c.woff2") format("woff2"),url("fonts/5437239/204c8748-cdda-4cca-95d7-d3b19c759fa1.woff") format("woff"),url("fonts/5437239/76372a66-4db9-44a0-adb4-446d0d07f68f.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Regular";
        src:url("fonts/5437253/213b3b3e-c047-4a69-bb66-2e0af44a573a.eot?#iefix");
        src:url("fonts/5437253/213b3b3e-c047-4a69-bb66-2e0af44a573a.eot?#iefix") format("eot"),url("fonts/5437253/29f589e9-211c-4132-92c4-de1ea1cac30f.woff2") format("woff2"),url("fonts/5437253/b4025c88-76cc-4fd6-ab0c-ffd8696a56da.woff") format("woff"),url("fonts/5437253/8ddb9e73-0aad-46e6-b3b6-71ce73b13487.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Medium";
        src:url("fonts/5437265/e0ae9e93-49a6-4a80-84dc-fc10a7caff13.eot?#iefix");
        src:url("fonts/5437265/e0ae9e93-49a6-4a80-84dc-fc10a7caff13.eot?#iefix") format("eot"),url("fonts/5437265/62a3f77a-1816-485d-8946-a0ff1f214a1e.woff2") format("woff2"),url("fonts/5437265/ca6cdc9a-1d62-4d81-996c-0cb4ee2c137c.woff") format("woff"),url("fonts/5437265/a9cf39bd-66e1-4ec1-be26-92e12447ab4d.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Bold";
        src:url("fonts/5437278/58a5dfa9-7419-4869-9049-b81a7934d40e.eot?#iefix");
        src:url("fonts/5437278/58a5dfa9-7419-4869-9049-b81a7934d40e.eot?#iefix") format("eot"),url("fonts/5437278/02725e5d-6836-4d35-8a8c-92096e617f7c.woff2") format("woff2"),url("fonts/5437278/2a9f3b9c-d924-4aad-adc4-63a692cf2c40.woff") format("woff"),url("fonts/5437278/4162f98b-70c5-4344-88d1-c4154f08019d.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 ExtraBold";
        src:url("fonts/5437290/77ec4d34-5173-4ecd-a7ab-d9b57f8f06b7.eot?#iefix");
        src:url("fonts/5437290/77ec4d34-5173-4ecd-a7ab-d9b57f8f06b7.eot?#iefix") format("eot"),url("fonts/5437290/705414c6-052c-4de5-8813-26f944ad7ce5.woff2") format("woff2"),url("fonts/5437290/aa6c00de-833c-49f0-87cb-38bc7ba6395a.woff") format("woff"),url("fonts/5437290/9ba00937-d3bf-442b-8471-4dbcdb5cfbda.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Heavy";
        src:url("fonts/5437300/09cb704e-b571-428e-a3e8-a9f8d603f0a5.eot?#iefix");
        src:url("fonts/5437300/09cb704e-b571-428e-a3e8-a9f8d603f0a5.eot?#iefix") format("eot"),url("fonts/5437300/85403eb2-b6c1-400f-bc3f-d58d491fe721.woff2") format("woff2"),url("fonts/5437300/7e037a84-999e-45d5-9044-16ded1a82cb8.woff") format("woff"),url("fonts/5437300/43bdbda7-8a44-47e3-8e19-93ff1ef7c38f.ttf") format("truetype");
    }
    @font-face{
        font-family:"Geometria Narrow W01 Thin";
        src:url("fonts/5437312/dee903b7-2e9f-434f-9c15-e11ed3f721a5.eot?#iefix");
        src:url("fonts/5437312/dee903b7-2e9f-434f-9c15-e11ed3f721a5.eot?#iefix") format("eot"),url("fonts/5437312/3fc39993-cba8-47a6-a513-9b520490f7be.woff2") format("woff2"),url("fonts/5437312/401834ca-8312-441b-9613-316e31000f19.woff") format("woff"),url("fonts/5437312/0185e44b-020d-42c7-b52c-3e9df6e2f49a.ttf") format("truetype");
    }
